
.input-tag {
  background: white;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: #F9B4AB;
  border-radius: 2px;
  color: white;
  display: flex;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 3px;
  padding: 4px 8px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 10px;
  height: 12px;
  justify-content: center;
  line-height: 0;
  margin-left: 4px;
  padding: 0;
  width: 12px;
}

.input-tag__tags li button:hover {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 10px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 4px;
  padding: 0;
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

.bg-mintgreen {
  background: #BBD4CE;
}

.bg-darkgreen {
  background: #679186 ;
}

.bg-paleyellow {
  background: #FDEBD3 ;
}

.bg-darkblue {
  background: #264E70 ;
}

.div_hover {
  background-color: #BBD4CE;
}

.div_hover:hover {
  background-color: #679186;
}

.delete-tag button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 10px;
  height: 12px;
  justify-content: center;
  line-height: 0;
  margin-left: 4px;
  padding: 0;
  width: 12px;
}

.delete-tag button:hover {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 10px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 4px;
  padding: 0;
  width: 15px;
}